html {
    padding:0;
    text-align:left;
}
body, .modal-content {
    background:#333333;
    color: #c8ded7;
    font-family:'Open Sans', sans-serif;
    font-size:16px;
}
.card {
    background:#444444;
    color: #c8ded7;
    font-family:'Open Sans', sans-serif;
    font-size:16px;
}
.table {
    background:#505050;
    color: #c8ded7;
    font-family:'Open Sans', sans-serif;
    font-size:16px;
}
a, a:hover, a:focus, a:active {
    text-decoration:none;
    outline:none;
}
a:hover, a:focus, a:active {
    color:#6699cc;
}
.navbar {
    margin-bottom:0px;
    border-radius:0px;
    background-color: #062753;
    color: #ffffff;
    padding: 1% 0;
    border: 0;
}
.navbar-brand {
    float: left;
    padding: 0px 15px 5px;
}
.btn {
    border-radius:17px;
    padding:10px;
    margin-right:25px;
    margin-top:15px;
    margin-bottom:15px;
}
.btn-secondary {
    background-color:#333333;
}
.form-control {
    background-color: #181a1b;
    color: #c8ded7
}
.form-control[readonly], .form-control:disabled {
    background-color: #232627;
}
